{% embed 'partials/base.html.twig' %}

    {% block content %}


{% embed 'partials/header-klein.html.twig' %}{% endembed %}

<div class="container">

            {{ page.content }}
</div>

    {% endblock %}

{% endembed %}