{% extends 'partials/simplesearch_base.html.twig' %}

{% block content %}
{% embed 'partials/header-klein.html.twig' %}{% endembed %}

    <div class="container">
    <h1>{{"PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t}}</h1>
    <div class="input-group input-group-lg" style="width: 100%;">
        {% include 'partials/simplesearch_searchbox.html.twig' %}
    </div>

    <p>
        {% if search_results.count == 1 %}
            {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query) }}
        {% else %}
            {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query, search_results.count) }}
        {% endif %}
    </p>
    {% for page in search_results %}
        {% include 'partials/simplesearch_item.html.twig' with {'page':page} %}
    {% endfor %}
    </div>
{% endblock %}
